.table-basic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #e1d62f;
    border: 3px solid #af0f0f;   
    cursor: pointer;
    
    .fa-utensils {
        font-size: 27px;
        text-align: center;
        color: #af0f0f;
    }
    .seat-1 {
        position: absolute;
        top: -10px;
        width: 40px;
        height: 5px;
        background: green;
    }
    .seat-2 {
        position: absolute;
        bottom: -10px;
        width: 40px;
        height: 5px;
        background: green;
    }
    .seat-3 {
        position: absolute;
        left: -28px;
        width: 40px;
        height: 5px;
        background: green;
        transform: rotate(90deg);
    }
    .seat-4 {
        position: absolute;
        right: -28px;
        width: 40px;
        height: 5px;
        background: green;
        transform: rotate(90deg);
    }
    // .seat-5 {
    //     position: absolute;
    //     top: -10px;
    //     width: 40px;
    //     height: 5px;
    //     background: green;       
    // }
    // .seat-6 {
    //     position: absolute;
    //     bottom: -10px;
    //     width: 40px;
    //     height: 5px;
    //     background: green;        
    // }
}